# Development
*.egg-info
*/__pycache__/*

# mkdocs build
.mkdocs

# Sample site
sample-docs/site

# Fixtures
__tests__/integration/fixtures/**/*/site

# Security
*.id_rsa

# IDE
.idea

# OS
.DS_Store
